:root {
  --dark: #222;
  --med-dark: rgb(38, 85, 114);
  --medium: rgb(120, 38, 120);
  --light: #fff;
  --radius: 5px;
  font-size: 14px;
  background-color: var(--dark);
}


header {
 
  display: block;
  justify-content: center;
  
}

header h1 {
  padding: 20px;
  font-size: 300%;
  color: var(--medium);
  background-color: var(--dark);
  text-align: center;
}

header p {
  padding-bottom: 40px;
  width: 60%;
  margin: auto;
  color: var(--light);
  background-color: var(--dark);
  line-height: 1.5;
  font-size: 120%;
  justify-content: center;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  background-color: var(--dark);
}

.grid-box {
  display: flex;
  border-style: dashed;
  border-color: var(--light);
  border-width: 1px;
  border-radius: var(--radius);
  width: 350px;
  height: auto;
  padding: 20px;
  margin: 0 auto 40px auto;
  justify-content: center;

  transition: all 0.5s ease-in-out;
}

.grid-header {
  padding: 5px;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: var(--light);
  background-color: var(--dark);
  color: var(--medium);
  position: absolute;
  margin-top: -35px;
  transition: all 0.5s ease-in-out;
}
.grid-header:hover,
.grid-box:hover {
  box-shadow: inset 0px 0px 8px grey, 0 0 15px grey;
}

.grid-content {
  margin-top: 20px;
}

.grid-header h2 {
  padding: 5px;
  font-size: 150%;
}

.grid-box p {
  display: block;
  color: var(--light);
  line-height: 1.25;
}

.snippet-box {
  display: flex;
  padding: 10px;
  border-radius: var(--radius);
  background-image: linear-gradient(var(--med-dark), var(--medium));
  width: 95%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

pre {
  color: var(--light);
  white-space: pre-wrap;
  font-family: "Courier New", Courier, monospace;
  line-height: 1.25;
}

footer h2 {
  text-align: center;
  font-size: 20px;
  color: grey;
}
